/node_modules
/public/hot
/public/storage
/public/admin
/public/dist
/public/0.js
/public/1.js
/public/2.js
/public/3.js
/public/4.js
/public/5.js
/public/6.js
/public/7.js
/public/8.js
/public/9.js

/public/plugins
/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
code.sh
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker
/public/swagger/*
!/public/swagger/index.html
!/public/swagger/swagger-mobile.json
!/public/swagger/swagger-cms.json
!/public/swagger/partials
.idea/
.vscode/
_ide_helper.php
_ide_helper_models.php
/storage/debugbar
