/node_modules
/public/hot
/public/storage
/public/admin
/public/dist
/public/1.js
/public/2.js
/public/0.js
/public/plugins
/public/fonts
/storage/*.key
/vendor
code.sh
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker
/public/swagger/*

!/public/swagger/index.html
!/public/swagger/swagger.json
