version: '2'

services:
    mysql:
        container_name: tsuru_mysql
        image: mysql:5.7
        volumes_from:
            - data
            - logs
        ports:
            - "3306:3306"
        environment:
            MYSQL_DATABASE: tsuru
            MYSQL_USER: root
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root
    mysql_test:
        container_name: sturu_mysql_test
        image: mysql:5.7
        expose:
            - "3306"
        environment:
            MYSQL_DATABASE: tsuru_test
            MYSQL_USER: root
            MYSQL_PASSWORD: secret
            MYSQL_ROOT_PASSWORD: root
    phpmyadmin:
        container_name: tsuru_phpmyadmin
        image: phpmyadmin/phpmyadmin
        environment:
            PMA_ARBITRARY: 1
            MYSQL_USER: root
            MYSQL_PASSWORD: tsuru
            MYSQL_ROOT_PASSWORD: root
        ports:
            - "8085:80"
        links:
            - "mysql:mysql"
    mailhog:
        container_name: tsuru_mailhog
        image: mailhog/mailhog
        ports:
            - "8025:8025"
            - "1025:1025"


